.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background-color: #0079ff;
  padding: 10px 30px;
  height: 40px;
}

h2 {
  margin: 0;
}

.menu {
  display: flex;
  gap: 20px;
}

.menu-hover {
  cursor: pointer;
}
